.card-container{
    flex: 1;
    display: flex;
    width: 100%;
    /* height: auto; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding: 3rem; */

    /* border: 1px solid blue; */
    background-color: var(--background);
}