.Stats{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;

    /* border:1px solid blue; */

    background-color: var(--background);
    color:var(--secondary);

    font-family: "Roboto",sans-serif;
    font-size: clamp(20px,1.4vw,25px);
}
.Stats>p{
    transition: 0.3s;
    margin: 0;
}
.Stats > p:hover{
    text-shadow: 0 0 5px var(--secondary);
}

@media (max-width:350px) {
    .Stats{
        flex-direction: column;
        gap: 10px;
    }
}